a,
.campusLink__campus,
.campusLink__group .tk--brand01 {
    -webkit-transition:color 0.5s;
    transition:color 0.5s;
}

.sermon__titleLink .highlight,
.actionBtn,
.linkBtn {
    -webkit-transition:background 0.5s;
    transition:background 0.5s;
}

.campus__label {
    -webkit-transition:opacity 0.5s;
    transition:opacity 0.5s;
}


.campus__link {
    -webkit-perspective: 500px;
    perspective: 500px;
}

.campus__img {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}


.mainNav__link:hover {
    border-bottom:2px solid #a7a9ac;
    border-top:2px solid #a7a9ac;
    color:#ed1c24;
}

a:hover,
.campusLink__group:hover .campusLink__campus {
    color:#36c5ed;
}


.campusLink__group:hover,
.campusLink__group:hover .fa,
.campus__link:hover,
.sermon__titleLink:hover .highlight,
.section__scrollMe:hover,
.actionBtn:hover,
.linkBtn:hover {
    color:#fff;
}


.sermon__titleLink:hover .highlight,
.linkBtn:hover {
    background-color:#36c5ed;
}


.actionBtn:hover {
    background:#ed1c24;
}


.campus__link:hover .campus__label {
    opacity:0;
}


.campus__link:hover .campus__img {
    -webkit-transform: translate3d(0, 0, 60px);
    transform: translate3d(0, 0, 60px);
    opacity:1;
}