/*  ================================================
    global styles
    ================================================ */
    body {
        font-size: 16px; 
        font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; 
        line-height: 1.5;
        margin:0;
    }

    ::-moz-selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    ::selection {
        background: #e900a4; text-shadow: none; color:#fff;
    }
    p {
        margin: 0.75em 0;
    }
    textarea {
        resize: vertical;
    }
    img {
        border:0; max-width:100%;
    }
    button {
        font-size:1rem;
        margin:0; border:0; padding:0;
        display: inline-block;
        cursor:pointer;
        background:none;
        text-align: center;
    }

/*  ================================================
    typography classes : general type and color styles
    ================================================ */        
    a {
        text-decoration: none; color:#9bcb3f;
    }
    a:focus, button:focus, input:focus, textarea:focus {
        outline:none; border:0;
    }
    .pure-g [class *="pure-u"] {
        font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; 
    }
    .tk--hdr01 {
        font-weight:300;
    }
        .tk--hdr02 {
            font-weight:400;
        }
    .tk--brand01 {
        color:#ed1c24;
    }
    .tk--alt01 {
        color:#a7a9ac;
    }
    .tk--alert {
        color:#ff0000;
    }

    .bg--brand01 {
        background-color:#ed1c24;
    }
    .bg--alt01 {
        background-color:#1c1c1c;
    }



/*  ================================================
    helper classes
    ================================================ */
    .ir {
        background-color: transparent;
        border: 0; width:0; height:0;
        overflow: hidden; display: block; position:absolute;
    }
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
        .clearfix:after {
            clear: both;
        }

    .sprite {
        position:relative;
    }
        .sprite:after {
            background:url('../img/217-sprite@2x.png') 0 0 / 7.5rem 7.5rem no-repeat;
            content:'';
            position:absolute;
            top:0; left:0;
            z-index:0;
            display: block;
        }

    .container {
        max-width:64.5em;
        padding:0 1.5em;
        margin:0 auto;
    }

    @media screen and (min-width: 48em) {
        .contentBox {
            margin:0 0.75em;
        }
    }
    

    @-webkit-keyframes bounce {
        0%, 100% {
            -webkit-transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
            transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);-webkit-transform:translate3d(0, -5px, 0);
            transform:translate3d(0, -5px, 0);
        }
        50% {
            -webkit-transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
            transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
            -webkit-transform:translate3d(0, 5px, 0);transform:translate3d(0, 5px, 0);
        }
    }
    @keyframes bounce {
        0%, 100% {
            -webkit-transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
            transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
            -webkit-transform:translate3d(0, -5px, 0);
            transform:translate3d(0, -5px, 0);
        }
        50% {
            -webkit-transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
            transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
            -webkit-transform:translate3d(0, 5px, 0);
            transform:translate3d(0, 5px, 0);
        }
    }

    .actionBtn,
    .actionBtn:active,
    .actionBtn:link {
        border:3px solid #fff;
        display: inline-block;
        background:none;
        text-align: center;
        color:#fff;
        font-weight: bold;
        padding:0.5em 2em;
        font-size:1.25em;
    }




/*  ================================================
    section templates classes
    ================================================ */
    .section {
        background: 50% 50% / cover no-repeat;
        padding-bottom:1.5em;
    }

        .section__scrollMe {
            display: table;
            margin:2.625em auto 0 auto;
            font-size:2em; 
            color:#fff;
            -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
            -webkit-animation-name:bounce;
            animation-name:bounce;
            -webkit-transform-origin:center bottom;
            transform-origin:center bottom;
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
        }

        .section__hdr {
            margin:1.388888em 0 1em 0; 
            font-size:2.25em;
            text-align: center;
            line-height: 1;
            color:#a7a9ac;
        }
            .section__hdr .em {
                font-size:1.3333333em;
                font-weight: bold;
                font-style: italic;
            }




    /*  section height variations classes
        ================================================ */
        .section--large {
            min-height:31em;
        }

        .section--med {
            min-height:26em;
        }

        .section--small {
            min-height:19.5em;
        }



    /*  section--strip classes
        ================================================ */
        .section--strip {
            color:#a7a9ac;
        }
            .section--strip .section__hdr {
                font-size:1.5em;
                text-align: center;
                margin:1.166666em 0 0.916666em 0;
            }

        

    



/*  ================================================
    campusLinks classes
    ================================================ */
    .campusLinks__group {
        background:#1c1c1c;
    }
    .campusLinks__locations {
        text-align: center;
        padding:0.25em 0;
    }
        @media screen and (min-width: 48em) {
            .campusLinks__locations {
                margin-left:12.5%;
            }
        }
    .campusLink__group {
        font-size:0.875em;
        white-space: nowrap;
    }
        .campusLink__campus {
            color:#fff;
            text-transform:uppercase;
            padding-left:0.375em;
        }
    .socialLinks {
        text-align: right;
    }
        .socialLinks a {
            padding:0.25em 0.375em;
            display:inline-block;
            color:#fff;
        }




/*  ================================================
    mainNav__group classes
    ================================================ */
    .mainNav__group {
        background:#fff;
        -webkit-box-shadow: 0 0 0.75em 0 rgba(0,0,0,0.4);
        -moz-box-shadow: 0 0 0.75em 0 rgba(0,0,0,0.4);
        box-shadow: 0 0 0.75em 0 rgba(0,0,0,0.4);
        position:relative;
    }

    .mainNav__list {
        list-style:none;
        margin:1.3125em 0 0 0; padding:0;
        float:right;
    }
        .mainNav__item {
            display:inline-block;
            padding-left:0.625em;
        }
        .mainNav__link {
            color:#1c1c1c;
        }

    .mainNav__logo {
        display: block;
        width:7em; height:2.625em;
        margin:0.6875em 0;
        float:left;
    }
        .mainNav__logo:after {
            width:100%; height:100%;
        }





/*  ================================================
    introSection classes
    ================================================ */
    .introSection {
        background-image:url('../img/header__blue-blur.jpg');
        text-align: center;
    }
        .introSection .section__hdr {
            margin:4.5em 0 1em 0;
            color:#fff;
        }



/*  ================================================
    eventsSection classes
    ================================================ */
    .eventsSection {
        background:#1c1c1c;
    }
    .event__group {
        position: relative;
        min-height:4em;
        margin-bottom:0.625em;
    }

        .event__date {
            width:3.5em; height:4em;
            position:absolute;
            top:0; left:0;
        }
            .event__date:after {
                width:100%; height:100%;
                background-position:0 -50px;
            }

            .event__month {
                position: relative;
                z-index:1;
                color:#fff;
                text-transform: uppercase;
                text-align: center;
                font-size:0.75em;
                font-weight:bold;
                width:100%;
                display: block;
                margin:0.41666666em 0 0 0;
            }
            .event__day {
                position:relative;
                z-index: 1;
                color:#333;
                text-align: center;
                font-size: 1.75em;
                font-weight:bold;
                line-height: 1;
                margin:0.142857em 0 0 0;
                width:100%;
                display: block;
            }

        .event__hdr {
            color:#fff;
            font-weight:1.5em;
            line-height: 1.15;
            color:#fff;
            margin:0 1rem 0 4.5rem;
        }
            .event__link {
                color:#fff;
            }

        .event__copy {
            margin:0 1rem 0 4.5rem;
            line-height: 1.25;
        }
            .event__copy p {
                margin:3px 0;
            }



/*  ================================================
    locationsSection classes
    ================================================ */
    .location__group {
        margin-bottom:1.5em;
    }
        @media screen and (min-width: 48em) {
            .location__group--hamilton {
                margin-left:16.666666%;
            }
        }

    .location__map {
        display: block;
        position: relative;
        color:#fff;
        text-align: center;
    }
        .location__map:after {
            position:absolute;
            z-index:0;
            background: center center / cover no-repeat;
            opacity:0.2;
            width:100%; height:100%;
            left:0; top:0;
            content:'';
        }

        .location__map--hamilton:after {
            background-image:url('../img/location__robbinsville.jpg');
        }
        .location__map--robbinsville:after {
            background-image:url('../img/location__robbinsville.jpg');
        }


        .location__label {
            display:block;
            font-size:1.5em;
            font-weight:bold;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            padding:20% 0 15%;
        }
            .location__label .fa {
                display: block;
                font-size:2em
            }

        .location__copy {
            text-align: center;
        }




/*  ================================================
    sermonSection classes
    ================================================ */
    .sermon__group {
        margin:7em 0 0 0;
        color:#fff;
        position:relative;
    }


        .sermon__subText {
            display: inline-block;
            text-transform: uppercase;
        }
            .sermon__subText .highlight {
                padding:0.25em 0.625em;
                display: inline-block;
            }


        .sermon__title {
            font-size:2.25em;
            line-height: 1;
            margin:0.67em 0 0 0;
        }

            .sermon__titleLink {
                color:#fff;
            }

            .sermon__titleLink .highlight {
                padding:0.25rem 0.625rem 0.3125rem;
                display: inline-block;
                line-height: 1.333333;
            }


        .sermon__reference {
            margin:0.25em 0;
            display: inline-block;
            font-size:1rem;
        }


        .sermon__quote {
            margin:3.25em 0 0 0;
            padding:0;
            position: relative;
        }
            .sermon__quote .highlight {
                display:inline-block;
                font-size:2.25em;
                font-style: italic;
                font-weight:300;
                line-height: 1.111111;
                padding:0.5rem 2.5rem 0.625rem;
                color:#fff;
            }
                .sermon__quote:before {
                    content:'\201c';
                    position:absolute;
                    font-size:4em;
                    top:-1rem;
                    left:0.625rem;
                }
                .sermon__quote:after {
                    content:'\201d';
                    position:absolute;
                    font-size:4em;
                    top:-1rem;
                    right:0.625rem;
                }



/*  ================================================
    missionSection classes
    ================================================ */
    .missionSection .container {
        position:relative;
    }
        .mission__hdr {
            color:#a7a9ac;
        }

        .mission__goals {
            font-style:italic;
            text-align: center;
        }
            .mission__goals p {
                font-size:1.875em;
                line-height:1.3333334;
                margin:0;
            }


        .mission__statement {
            font-size:2em;
            line-height:1.166667;
            margin:0.75em 0;
            text-align: center;
        }
            .mission__statement strong {
                font-weight:400;
            }


    @media screen and (min-width: 48em) {
        .mission__hdr {
            margin-left:33.333333%;
            padding-left:0.5rem;
            text-align:left;
            position: absolute;
        }

        .mission__goals {
            text-align: right;
            margin:7.0625em 0 0 0;
        }
        .mission__statement {
            margin:6.6875rem 0 0 1.5rem;
            text-align: left;
            font-size:3em;
        }
    }




/*  ================================================
    storiesSection classes
    ================================================ */
    .storiesSection {
        background:#ed1c24;
        color:#fff;
        text-align: center;
    }
        .stories__photoBox {
            border-radius:50%;
            overflow: hidden;
            border:6px solid #fff;
            background:#fff;
            width:50%;
            margin:3em auto 0;
        }
            
            .stories__photo {
                display:block;
                width:100%; height:auto;
            }


        .stories__hdr {
            font-size: 1.5em;
            line-height:1;
            margin:1em 0 0 0;
        }
        .stories__title {
            font-size:1.875em;
            line-height:1.066667;
            font-weight:normal;
            font-style: italic;
            margin:0.5em 0;
        }



        @media screen and (min-width:48em) {
            .storiesSection {
                text-align: left;
            }
            .stories__photoBox {
                width:auto;
            }
            .stories__hdr {
                margin:2.5em 0 0 0;
            }
            .stories__title {
                margin:0.3em 0;
            }
        }